<div class="row-{{section.id}} {% if section.settings.fullwidth == true %}full-width{% endif  %}" data-section-id="{{ section.id }}">
  <div style="width: 90%; display: flex; flex-direction: column;">
     <div class="main-col col-sm-12 col-md-12">
        <div id="cmsblock-33" class="cmsblock">
          <div class='description'>
            <div class="our_story1 {% if section.settings.top_margin %} margin-top{% endif %}">
              <div class="static_video1">
                <img class="img_static1{% if settings.lazyloading_enable %} lazyload{% endif %}" {% if settings.lazyloading_enable %} data-{% endif %}src="{{ 'video_img.png' | asset_img_url: '500x300' }}" alt="">
                <div id="cms_play1" class="{{section.id}}"><img src="{{ 'playing_video.png' | asset_url }}" alt=""></div>
              </div>
            </div>
            <script>// <![CDATA[
              $(document).ready(function(){
                $('#cms_play1.{{section.id}}').click(function(){
                  $(this).hide('fast');
                  $('.row-{{section.id}} .static_video1').append('<iframe class="added_video1" src="https://www.youtube.com/embed/XcytuPGgOow?rel=0&showinfo=0&autoplay=0&controls=0" frameborder="0" allowfullscreen></iframe>');
                });
              });
              // ]]>
            </script>
          </div>
        </div>
      </div>
  </div>
</div>
