<!--Service Area Start-->
<div class="static1-elomus2">
  {% if section.settings.heading != blank %}
  <div class="module-title">
    {% if section.settings.description != blank %}
    <p class="sub-title">{{ section.settings.description }}</p>
    {% endif %}
    <h2>{{ section.settings.heading }}</h2>
  </div>
  {% endif %}
  <div class="row feature-service--display">
    {% if section.blocks.size > 0 %}
    {% for block in section.blocks limit:6 %}
    <div class="col col-xs-12">
      <div class="icon">
        {% if block.settings.use_feature_service_icon %}
        {% if block.settings.feature_service_icon != blank %}
        <i class="fa {{block.settings.feature_service_icon }}"></i>
        {% endif %}
        {% else %}
        {% if block.settings.image != blank %}
          <!-- {% if forloop.index == 0 %}
            <svg width="25" height="25" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:serif="http://www.serif.com/" width="100%" height="100%" viewBox="0 0 2500 2500" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
              <g transform="matrix(1.19541,0,0,1.13002,-131.362,-275.591)">
                  <path d="M1722.37,1719.08C1871,1719.08 1991.67,1834.56 1991.67,1976.81C1991.67,2119.05 1871,2234.54 1722.37,2234.54C1573.73,2234.54 1453.06,2119.05 1453.06,1976.81C1453.06,1834.56 1573.73,1719.08 1722.37,1719.08ZM1430.22,1997.48L1101.42,1997.48C1077.24,1997.48 1057.61,1977.85 1057.61,1953.67L1057.61,1866.05C1057.61,1843.41 1074.82,1824.76 1096.86,1822.48L1096.86,597.641C1096.86,545.143 1139.49,502.52 1191.98,502.52L2222.09,502.52C2274.59,502.52 2317.21,545.143 2317.21,597.641L2317.21,1902.36C2317.21,1954.86 2274.59,1997.48 2222.09,1997.48L2015.89,1997.48C2016.74,1988.86 2017.17,1980.11 2017.17,1971.26C2017.17,1817.42 1885.38,1692.53 1723.05,1692.53C1560.72,1692.53 1428.93,1817.42 1428.93,1971.26C1428.93,1980.11 1429.37,1988.86 1430.22,1997.48Z" style="fill:rgb(113,125,133);"></path>
              </g>
              <g transform="matrix(1.22892,0,0,1.25123,544.222,-105.66)">
                  <path d="M263.734,907.965C210.39,877.005 174.319,817.971 174.319,750.298C174.319,650.574 252.65,569.611 349.131,569.611C445.613,569.611 523.944,650.574 523.944,750.298C523.944,814.341 491.639,870.647 442.96,902.745L442.96,941.389L698.548,1156.99L665.902,1195.69L513.142,1378.63L618.876,1556.06L874.226,1802.5L796.632,1882.9L523.732,1619.51L523.108,1619.89L378.791,1377.72L313.937,1573.74L478.011,1841.81L379.972,1901.82L188.432,1588.87L188.515,1588.82L187.938,1588.63L281.901,1304.63L281.901,1035.31L151.878,1232.04L149.543,1230.5L149.19,1231.02L100.579,1198.13L80.654,1184.96L80.796,1184.75L-114.277,1052.78L-66.44,982.07L127.873,1113.52L263.734,907.965ZM442.96,1260.86L466.822,1300.9L578.374,1167.31L442.96,1053.08L442.96,1260.86Z" style="fill:rgb(113,125,133);"></path>
              </g>
              <g transform="matrix(0.881423,1.75749,-1.46868,0.736577,367.627,611.618)">
                  <path d="M204.563,128.132C204.329,127.479 204.202,126.776 204.202,126.044L204.202,102.23C204.202,98.81 206.979,96.033 210.399,96.033L360.176,96.033C363.597,96.033 366.374,98.81 366.374,102.23L366.374,126.044C366.374,126.776 366.246,127.479 366.012,128.132L401.708,128.132L430.366,178.173L430.366,340.939L140.21,340.939L140.21,178.173L168.868,128.132L204.563,128.132ZM341.813,128.132C341.826,127.994 341.832,127.855 341.832,127.715L341.832,118.663C341.832,116.165 339.804,114.137 337.306,114.137L230.008,114.137C227.51,114.137 225.482,116.165 225.482,118.663L225.482,127.715C225.482,127.855 225.488,127.994 225.501,128.132L341.813,128.132Z" style="fill:rgb(113,125,133);"></path>
              </g>
            </svg>
          {% else %} -->
            <img {% if settings.lazyloading_enable %} class="lazyload" data-{% endif %}src="{{ block.settings.image | img_url: '60x60' }}" alt="" />
          <!-- {% endif %} -->

        {% endif %}
        {% endif %}
      </div>
      <h3>{{ block.settings.feature_service_title }}</h3>
      <p style="font-size: 22px;">{{ block.settings.feature_service_description }}</p>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
<!--End of Service Area-->