<footer class="" {% if section.settings.bkg_image != blank %}style="background-image: url('{{ section.settings.bkg_image | img_url: 'master' }}')"{% endif %}>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col1 col-md-4 col-sm-12 col-xs-12 col-footer">
          {% if section.settings.image %}
          <a href="/" itemprop="url" class="logo-footer">
            <img {% if settings.lazyloading_enable %}class="lazyload" data-{% endif %}src="{{ section.settings.image | img_url: 'master' }}"
                 alt="{{ section.settings.image.alt | default: shop.name }}"
                 itemprop="logo">
          </a>
          {% endif %}
          {% if section.settings.image == blank %}
          <div class="footer-title"><h5>{{ 'layout.footer.about' | t }}</h5></div>
          {% endif %}
          <div class="footer-content">
            {% if section.settings.footer_about_us %}
            <p style="color: #d2d2d2; padding-top: 15px;">{{ section.settings.footer_about_us }}</p>
            {% endif %}
            <!-- <ul class="footer-contact">
              {% if section.settings.footer_address != blank %}
              <li class="address">{{ section.settings.footer_address }}</li>
              {% endif %}
              {% if section.settings.footer_phone != blank %}
              <li class="phone">{{ section.settings.footer_phone }}</li>
              {% endif %}
              {% if section.settings.footer_email != blank %}
              <li class="email">{{ section.settings.footer_email }}</li>
              {% endif %}
            </ul> -->
          </div>

          <div class="footer-title"><h5>{{ "Company Info & Trading Terms" }}</h5></div>

          <div class="footer-content">
            <p style="color: #d2d2d2; padding-top: 15px;">{{ "Our "}}<a class="privacy_policy" href="https://vanolarm.co.uk/privacy-policy/">Privacy Policy</a>{{" and Our "}}<a class="privacy_policy" href="https://vanolarm.co.uk/terms-and-conditions/">T&Cs ( see section 20 for Returns Policy).</a></p>
            <p style="color: #d2d2d2; padding-top: 15px;">{{ section.settings.footer_address }}</p>
          </div>
        </div>
        <div class="col col2 col-md-2 col-sm-6 col-xs-12 col-footer">
          <div class="">
            <h5>{{ linklists[section.settings.footer_menu_1].title }}</h5>
          </div>
          <div class="footer-content">
            <ul class="list-unstyled text-content">
              {% for link in linklists[section.settings.footer_menu_1].links %}
              <li><a href="{{link.url}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col col2 col-md-2 col-sm-6 col-xs-12 col-footer">
          <div class="">
            <h5>{{ linklists[section.settings.footer_menu_2].title }}</h5>
          </div>
          <div class="footer-content">
            <ul class="list-unstyled text-content">
              {% for link in linklists[section.settings.footer_menu_2].links %}
              <li><a href="{{link.url}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col4  col-md-4 col-sm-12 col-xs-12 col-footer">
          {% if section.settings.footer_insta_enable %}
          {% include 'footer-insta' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="container-inner">
        <div class="footer-copyright">
          <p><span>{{ section.settings.footer_content_text }}</span></p>
        </div>
        {% if section.settings.payment_image %}
        <div class="payment">
          <a href="#">
            <img src="{{ section.settings.payment_image | img_url: 'master' }}" alt="payment">
          </a>
        </div>
        {% else %}
        {% unless shop.enabled_payment_types == empty %}
        <div class="paypal-footer footer-payment">
          <ul class="list-unstyled list-inline ct-socials text-center-sm ct-payment">
            {% assign enabled_payment_types = 'visa,mastercard,amex,paypal' | remove: ' ' | split: ',' %}
            {% for type in enabled_payment_types %}
            <li>
              <a class="f-payment  fab fa-cc-{{ type }} fa-2x" aria-hidden="true"></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endunless %}
        {% endif %}
        {% include 'social-button' %}
      </div>
    </div>
  </div>
  <div id="back-top"><i class="fa fa-angle-up"></i></div>
</footer>
<script >
  $(document).ready(function(){
    // hide #back-top first
    $("#back-top").hide();
    // fade in #back-top
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > $('body').height()/3) {
          $('#back-top').fadeIn();
        } else {
          $('#back-top').fadeOut();
        }
      });
      // scroll body to 0px on click
      $('#back-top').click(function () {
        $('body,html').animate({scrollTop: 0}, 800);
        return false;
      });
    });
    // footer toggle
    if (jQuery(window).width() < 992) {
      jQuery('.footer-top .footer-title').click(function(){
        jQuery(this).parent('.col').toggleClass('active').siblings().removeClass('active');
        jQuery(this).next('.col .footer-content').toggle(300);
        jQuery(this).parent('.col.active').siblings().children('.col .footer-content').slideUp(300);
      });

    }
  });
</script>

{% style%}
.privacy_policy {
  color: #d2d2d2;
  font-style: italic;
  font-weight: 700;
}
.privacy_policy:hover {
  color: white;
}
{% endstyle%}
